<robot name="maze">

  <link name="base_link">
    <inertial>
        <mass value="0"/>  <!-- Mass set to zero -->
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    
    <visual>
      <geometry>
        <box size="0 0 0"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0 0 0"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="joint_wall_1" type="fixed">
    <parent link="base_link"/>
    <child link="wall_1"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
  </joint>
  
  <joint name="joint_wall_2" type="fixed">
    <parent link="base_link"/>
    <child link="wall_2"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
  </joint>
  
  <joint name="joint_wall_25" type="fixed">
    <parent link="base_link"/>
    <child link="wall_25"/>
    <origin xyz="1.5 0 1" rpy="0 0 0"/>
  </joint>
  
  <joint name="joint_wall_3" type="fixed">
    <parent link="base_link"/>
    <child link="wall_3"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
  </joint>
  
  <joint name="joint_wall_4" type="fixed">
    <parent link="base_link"/>
    <child link="wall_4"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
  </joint>
  
  <!-- Wall 1 -->
  <link name="wall_1">
    <visual>
      <origin xyz="0 0 1" rpy="0 0 0"/>  <!-- Adjust Z to change height -->
      <geometry>
        <box size="3 0.2 0.5"/>  <!-- Length, Width, Height of the wall -->
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <geometry>
        <box size="3 0.2 0.5"/>
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
    </inertial>
    
  </link>

  <!-- Wall 2 -->
  <link name="wall_2">
    <visual>
      <origin xyz="1.5 -1 1" rpy="0 0 1.5708"/>  <!-- Rotate 90 degrees in Z for vertical orientation -->
      <geometry>
        <box size="2 0.2 0.5"/>  <!-- This wall is vertical if viewed from above -->
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1.5 -1 1" rpy="0 0 1.5708"/>
      <geometry>
        <box size="2 0.2 0.5"/>
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
    </inertial>
  </link>
  
  
  <!-- Wall 25 -->
  <link name="wall_25">
    <visual>
      <origin xyz="1.5 -1 1" rpy="0 0 1.5708"/>  <!-- Rotate 90 degrees in Z for vertical orientation -->
      
      <geometry>
        <box size="6 0.2 0.5"/>  <!-- This wall is vertical if viewed from above -->
      </geometry>
      
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="1 -1 1" rpy="0 0 1.5708"/>
      <geometry>
        <box size="6 0.2 0.5"/>
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
    </inertial>
  </link>

  <!-- Wall 3 -->
  <link name="wall_3">
    <visual>
      <origin xyz="-1.5 1 1" rpy="0 0 1.5708"/>  <!-- Another vertical wall -->
      <geometry>
        <box size="2 0.2 0.5"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-1.5 1 1" rpy="0 0 1.5708"/>
      <geometry>
        <box size="2 0.2 0.5"/>
      </geometry>
    </collision>
    
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
    </inertial>
  </link>

  <!-- Wall 4 -->
  <link name="wall_4">
    <visual>
      <origin xyz="0 2 1" rpy="0 0 0"/>  <!-- A horizontal wall at the top -->
      <geometry>
        <box size="10 0.2 0.5"/>
      </geometry>
      <material name="yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 2 1" rpy="0 0 0"/>
      <geometry>
        <box size="10 0.2 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.02"/>
    </inertial>
  </link>
</robot>
